.nav {
  border: 1px solid red;
}

.categories {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.botao {
  margin: 0 600px;
  padding: 10px;
}

.products {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}
